<article>
	<header>
		<h2><%= link_to @debate.title, @debate %></h2>
	</header>
	<p>
		<%= @debate.description %>
	</p>
	
</article>

<section class="question">
	<%= @debate.question %>
	<%= render_chart(@debate) %>
	<p>Weźnij udział w debacie:</p>
	<%= text_field_tag "chellenger", "", :value => chellenger_debate_arguments_url(@debate.permalink) %><br />
	<%= text_field_tag "chellenger", "", :value => defender_debate_arguments_url(@debate.permalink) %>
</section>

<section class="arguments">
	<ul>
		<% for argument in @debate.arguments %>
		<li>
			<%= link_to argument.title, [@debate, argument] %> <br />
			<%= argument.description %>
		</li>
		<% end %>
	</ul>
</section>

